extends ../layout.pug

block content
  .wrapper-color
    header.header.header--error
      a.header__logo.header__logo--500.logo(href='/')
        img.logo__image(src='/img/icons/logo-image-only.svg' alt='логотип Тайпотеки')
        span.logo__name Типотека
      if user
        nav.header__nav
        ul.header__nav-list
          li.header__list-item
            p Алёна Фролова
          li.header__list-item
            a.header__exit(href='#') Выйти
        a.header__avatar.avatar
          img(src='/img/avatar-2.png' alt='аватар пользователя')
      else
        a.header__registration(href='/register') Регистрация
        a.header__enter(href='/login') Вход с паролем
      a.header__search.button.button--search(href='/search' aria-label='поиск по сайту')
    main
      h1.visually-hidden Ошибка 500
      section.error.error--500
        h2.error__title.title.title--big Что-то пошло не так
        p.error__text.text.text--big Причин может быть много: сервер не выдержал нагрузку или в коде ошибка. Попробуйте повторить попытку позже.
        a.error__link.text.text--big(href='/') Вернуться на главную
    include ../partials/footer.pug
