ul.navigation.header__navigation
  li.navigation__item
    a(href='#') Пункт меню
  li.navigation__item
    a(href='#') Пункт меню
  li.navigation__item
    a(href='#') Пункт меню
  li.navigation__item
    a(href='#') Пункт меню
