extends layouts/layout.pug

block content
  .wrapper.wrapper--nobackground
    header.header
      a.header__logo.logo(href='/')
        img.logo__image(src='/img/icons/logo-image-only.svg' alt='логотип Тайпотеки')
        span.logo__name Типотека
      button.button.button--colored.header__button-new Новая запись
      .header__dropdown
        a.button.button--burger.header__burger(href='#') Открыть меню
        include ./layouts/burger.pug
      a.header__search.button.button--search(href='/search' aria-label='поиск по сайту')
    main.main-page.main-page--padding
      section.main-page__notes.notes
        h1.notes__title Мои записи
        ul.notes__list
          each article in myArticles
            li.notes__list-item
              time.notes__item-time(datetime=article.createdDate)= `${new DateTimeFormat(`ru-Ru`, {day: `numeric`, month: `numeric`, year: `numeric`, hour: `numeric`, minute: `numeric`, second: `numeric`}).format(new Date(article.createdDate))}`
              a.notes__item-text(href='#')= article.announce
              button.notes__button.button.button--close-item(type='button')
                span.visually-hidden Закрыть строку списка
