extends layout.pug

block content
  .wrapper-color
    header.header
      a.header__logo.logo(href='/')
        img.logo__image(src='/img/icons/logo-image-only.svg' alt='логотип Тайпотеки')
        span.logo__name Типотека
      button.button.button--colored.header__button-new Новая запись
      .header__dropdown
        a.button.button--burger.header__burger(href='#') Открыть меню
        include ./partials/burger.pug
      a.header__search.button.button--search(href='/search' aria-label='поиск по сайту')
    main
      section.search-page
        .search-page__wrapper
          h1 Поиск
          .search.search-page__form
            form(action='/search/results/' method='get')
              label
                input(type='search' name='query' placeholder='Что ищем?' value= query)
              button.search__button.button.button--transparent(type='submit') Найти
            each article in articles
              .search__result
                time.search__date(datetime=article[`created_date`])
                  +time(new Date(article[`created_date`]))
                a.search__link(href=`/articles/${article.id}`)
                  |  #{article.title}
    include partials/footer.pug
